.player{
    width: 6em;
    
}
.point{
    width: 4em;
}
.piece-height{
    height: 2em;
}
.lego-height{
    height: 3em;
}
.lego-wrapper{
    display: flex;
    grid-template-columns: 3fr 1fr;
}
.lego-keys{
    display: flex;
    grid-template-columns: repeat(auto-fit,minmax(1fr,3fr));
}
.border-top-1{
    border-top:1px solid #000 !important;
    padding: 20px;
}
.border-right-1{
    border-right:1px solid #000 !important;
}
.border-bottom-1{
    border-bottom:1px solid #000 !important;
    padding: 20px;
}
.lego-space{
    padding: 20px;
}
